<% namespace_name = controller_class_name.include?('::') ? controller_class_name.split("::").first : false -%>
<% singular_table_name.gsub!("#{namespace_name.downcase}_", '') if namespace_name.present? -%>
<% plural_table_name.gsub!("#{namespace_name.downcase}_", '') if namespace_name.present? -%>
<% route_url_sanitized = namespace_name.present? ? route_url.gsub("#{namespace_name.downcase}/", '') : route_url -%>
<% class_name_sanitized = namespace_name.present? ? class_name.gsub("#{namespace_name}::", '') : class_name -%>
<% index_helper_sanitized = namespace_name.present? ? index_helper.gsub("#{namespace_name.downcase}_", '') : index_helper -%>
<%%- model_class = <%= singular_table_name.classify %> -%>
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="page-header">
      <h3><%%=t '.title', :default => [:'helpers.titles.edit', 'Editar %{model}'], :model => model_class.model_name.human.titleize %></h3>
    </div>

    <%%= render partial: 'form' %>
  </div>
</div>
